#nav{
    color: green;
   background-color: black;

}
li{
    
    float:inline-start;  
    padding: 8px;
    
}
ul {
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
  }
  a:hover, a.nav:active{
    opacity:2;
    background-color: yellow;
    text-decoration: underline;
    border-radius: 5px;
 }
 #body{
    color: red;
 }
  